@import "tailwindcss";
@theme {
  --color-maresia-dark: #0D1117;
  --color-maresia-blue: #38B6FF;
  --font-display: "Syne", sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
  @apply bg-maresia-dark text-white;
}